#header .ad {
  overflow: hidden;
  min-width: 1100px;
  background-color: #e93859;
}
#header .ad img {
  position: relative;
  transform: translate(-50%);
  left: 50%;
}

/* 导航相关样式 */
#header .nav {
  height: 30px;
  background-color: #000;
  line-height: 30px;
}

#header .nav a {
  /* display: inline-block; */
  
  height: 100%;
  color: #999;
  margin-left: 16px;
  float: left;
}

#header .nav a:hover {
  color: #fff;
}

.nav-left {
  float: left;
}

.nav-left .comp {
  float: left;
}

.nav-left .phone {
  position: relative;
}

.nav-left .phone .code {
  display: none;
  position: absolute;
  border: 1px solid #eaeaea;
  padding: 5px;
  top: 30px;
  left: 0;
  transform: translate(-50%);
  margin-left: 50%;
}

.nav-left .phone .code span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.nav-left .phone .code img {
  width: 116px;
  height: 116px;
}

.nav-left .phone .code .arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea transparent transparent #eaeaea;
  transform: rotate(45deg);

  left: 0;
  right: 0;
  margin: 0 auto;
  top: -5px;
}

.nav-left .phone .title:hover {
  color: #fff
}

.nav-left .phone .title:hover + .code {
  display: block;
}

.nav-right, .nav-right .groupL, .nav-right .groupR {
  float: right;
}

#header .nav-right .groupR {
  margin-left: 20px;
}

#header .nav-right .groupR a {
  margin-left: 0;
  padding: 0 12px;
}

#header .nav-right .groupR a:hover {
  color: #ff1e32;
  background-color: #fff;
}

#header .nav-right .groupR i {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #999 transparent transparent transparent;
  transition: transform 300ms ease-in;
  transform-origin: center 2px;
}

#header .nav-right .groupR a:hover i {
  transform: rotate(180deg);
  border-color: #e93859 transparent transparent transparent;
}