@charset "utf-8";

#top .tabbar {
  height: 40px;
  /* line-height 会被继承 */
  line-height: 40px; 
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

#top .category {
  position: relative;
  float: left;
  width: 164px;
  /* text-align: center; */
  background: linear-gradient(90deg,red,#ff3264);
}

#top .category .icon {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin: 0 24px 0 15px;
}

#top .category .icon i{
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
}

#top .category .icon i:nth-child(2) {
  margin: 3px 0;
}

#top .category span {
  font-size: 14px;
  color: #fff
}

#top .category .menu-list {
  position: absolute;
  z-index: 99;
  width: 164px;
  border-top: 1px solid #ff5160;
  /* margin-top: 1px; */
}

#top .category .menu-list li {
  padding: 0 3px;
  background: linear-gradient(90deg,red,#ff3264);
}

#top .category .menu-list li a {
  position: relative;
  cursor: pointer;
  text-align: left;
  display: block;
  padding-left: 10px;
  border-bottom: 1px solid #ff5160;
  height: 42px;
}

#top .category .menu-list li a span {
  line-height: 42px;
}

#top .category .menu-list li a i {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #ff96ad;
  border-right: 1px solid #ff96ad;
  transform: rotate(45deg);
}

#top .category .menu-list li .active {
  display: none;
}

#top .category .menu-list li a:hover {
  background-color: #fff;
}

#top .category .menu-list li a:hover span {
  color: #ff5160;
}

#top .category .menu-list li a:hover img {
  display: none;
}

#top .category .menu-list li a:hover img.active {
  display: inline;
}

#top .category .menu-list img {
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
  padding: 0 20px 0 2px;
}

#top .tabbar .list{
  float: left;
  padding-left: 25px;
}

#top .tabbar .list li {
  float: left;
}

#top .tabbar .list li a {
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333
}

#top .tabbar .list li .active {
  color: #ff1e32;
}

#top .tabbar .list li a:hover {
  color: #ff1e32;
}

/* 轮播图相关样式 */
#top .banner {
  position: relative;
  overflow: hidden;
  min-width: 1100px;
}

#top .banner .swiper {
  display: inline-block;
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
}

#top .banner .swiper img {
  height: 560px;
  /* z-index: -9; */
}

#top .banner .swiper .control {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 40%;
  height: 68px;
}

#top .banner .swiper:hover .control {
  display: block;
}

#top .banner .swiper .control i {
  width: 34px;
  height: 68px;
  background-image: url("../img/script.png");
}

#top .banner .swiper .control i.prev {
  float: left;
  margin-left: 166px;
  background-position: -625px -68px;
}

#top .banner .swiper .control i.next {
  float: right;
  background-position: -670px -67px;
}

#top .banner .swiper .control i:hover.prev {
  background-position: -625px -153px;
}

#top .banner .swiper .control i:hover.next {
  background-position: -670px -153px;
}

#top .banner .swiper .dots {
  position: absolute;
  left: 0;
  right: 0;
  height: 64px;
  bottom: 60px;
}

#top .banner .swiper .dots .dot {
  position: absolute;
  bottom: 22px;
  left: 210px;
}

#top .banner .swiper .dots .dot i {
  float: left;
  margin-right: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
}

#top .banner .swiper .dots .dot i:hover {
  background-color: #ff1e32;
}

#top .banner .swiper .dots .dot i.active {
  background-color: #ff1e32;
}

/* 毛玻璃效果，轮播图下面的相关服务 */
#top .banner .service {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  overflow: hidden;
}

#top .banner .service .blur {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/banner.jpeg') center bottom;
  filter: blur(8px);
}

#top .banner .service ul {
  position: relative;
  float: left;
}

#top .banner .service ul li {
  float: left;
  margin-right: 40px;
}

#top .banner .service span {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  font-size: 12px;
  color: #fff
}

#top .banner .service .wrap .prompt {
  position: relative;
  float: right; 
}

#top .banner .service .wrap .prompt img {
  margin-top: -2px;
}