@charset "utf-8";

#top .tabbar {
  height: 40px;
  /* line-height 会被继承 */
  line-height: 40px; 
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

#top .category {
  position: relative;
  float: left;
  width: 164px;
  /* text-align: center; */
  background: linear-gradient(90deg,red,#ff3264);
}

#top .category .icon {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin: 0 24px 0 15px;
}

#top .category .icon i{
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
}

#top .category .icon i:nth-child(2) {
  margin: 3px 0;
}

#top .category span {
  font-size: 14px;
  color: #fff
}

#top .category .menu-list {
  position: absolute;
  z-index: 99;
  width: 164px;
  border-top: 1px solid #ff5160;
  /* margin-top: 1px; */
}

#top .category .menu-list li {
  cursor: pointer;
  text-align: left;
  padding: 0 3px;
  height: 42px;
  background: linear-gradient(90deg,red,#ff3264);
}

#top .category .menu-list li a {
  display: block;
  padding-left: 10px;
  border-bottom: 1px solid #ff5160;
}

#top .category .menu-list li .active {
  display: none;
}

#top .category .menu-list li a:hover {
  background-color: #fff;
}

#top .category .menu-list li a:hover span {
  color: #ff5160;
}

#top .category .menu-list li a:hover img {
  display: none;
}

#top .category .menu-list li a:hover img.active {
  display: inline;
}

#top .category .menu-list img {
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
  padding: 0 20px 0 2px;
}

#top .tabbar .list{
  float: left;
  padding-left: 25px;
}

#top .tabbar .list li {
  float: left;
}

#top .tabbar .list li a {
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333
}

#top .tabbar .list li .active {
  color: #ff1e32;
}

#top .tabbar .list li a:hover {
  color: #ff1e32;
}

/* 轮播图相关样式 */
#top .banner {
  content: '';
  clear: both;
  overflow: hidden;
  min-width: 1100px;
}

#top .banner .swiper img {
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
  height: 547px;
}